SourceFile/pkgs/Wadl/ExtractnamedentitiesFlow.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ExtractnamedentitiesFlow" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Extract named entities Flow" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_NamedEntityRecognition_ux28_V30_ux29__documentsid-1_def" />
      <object name="ManualTriggerInput">
        <property name="NamedEntityRecognition(V30)_documentsid-1" type="string" />
      </object>
      <string name="ResponseActionOutput_text_def" />
      <string name="ResponseActionOutput_category_def" />
      <string name="ResponseActionOutput_length_def" />
      <string name="ResponseActionOutput_confidencescore_def" />
      <object name="ResponseActionOutput">
        <property name="text" type="string" />
        <property name="category" type="string" />
        <property name="length" type="string" />
        <property name="confidencescore" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="NamedEntityRecognition(V30)_documentsid-1" path="/NamedEntityRecognition(V30)_documentsid-1" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>